.link .project:hover {
     background-color: #2aabd2;
    color: white;
}
.link .project:hover h3{
    text-decoration: none;
}
.link:hover {
    text-decoration: none;
}
.project1{
    position: relative;
}
.project img.logo{
    position: absolute;
    top:4px;
    left:20px;
}
.project .delete{
    position: absolute;
    top:3px;
    right:20px;
    font-size:18px;
    border:1px solid rgba(140, 145, 139, 0.5);
    padding:6px;
    border-radius:15px;
}

.project .delete:hover{
    background-color: #1b6d85;
}
#new_project_form{
    margin-top: 25px;
    padding:10px 0 0 0 ;
    float:right;
}
#new_project_form #project_name{
    width:300px;
    padding:5px;
    border:1px solid #1b6d85;
    border-radius: 4px;

}
#new_form_button{
    float: right;
    margin-right: 40px;
    margin-top: 36px;
}